html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
}

/* CSS for the navbar and the lists inside them */
.topnav {
    background-color:white;
    height: 60px;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* float: right; */
}

.topnav a {
    /* color: white; */
    /* display: block; */
    padding: 15px 15px;
    text-decoration: none;
    /* text-align: center; */
}

.toplist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* text-align: right; */
}

.toplist li {
    display: inline-block;
    /* margin-right: 20px; */
    /* color: white; */
}

.toplist li:last-child {
    margin-right: 0;
    /* color: white; */
}

.toplist li a {
    display: block;
    padding: 14px 16px;
    color: #283044;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.toplist li a:hover {
    background-color: initial;
    color: #283044;
}

.brand-picture {
    max-height: 100%;
    max-width: 100px;
    margin-right: auto;
}

.linkedin-picture {
    height: 40px;
    max-width: 100px;
    margin-left: auto;
}

.navbar {
    background-color:white;
    /* height: 60px; */
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

/* End nav and list CSS*/

/* For the Index.html page */

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    gap: 20px;
    width: 80%;
    max-width: 1080px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    /* overflow: hidden;  */
}

.left-column {
    grid-column: 1;
}

.right-column {
    order: 2;
    grid-row: span;
    max-width: 80%;
    height: auto;
    /* margin-top: 20px; */
    /* background-color: lightgray; */
}

.right-column img{
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.left-row-top {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #78a1bb;
}

.left-row {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #78a1bb;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header header'
    'left right';
    /* display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto; */
    gap: 20px;
    width: 80%;
    max-width: 1080px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}


.item1 {
    grid-area: header;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #78a1bb; */
}

.item2 {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #78a1bb;
}

.item3 {
    grid-area: right;
}

.item3 img {
    max-width: 100%; /* Ensure the image doesn't exceed its container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper rendering */
    margin: 0 auto; /* Center the image horizontally */
}

@media only screen and (max-width: 600px) {
    .grid-container {
        grid-template-areas: 
        'header'
        'left'
        'right'; /* Change the layout to stack items vertically */
    }
}

.special-font {
    color: #283044;
}

.font1 {
    color: #283044;
}

.header1font {
    color: #283044;
    font-size: 24px;
    font-weight: 500;
}

.header2font {
    color: #283044;
    font-weight: 500;
}

.bottomlist {
    background-color:#283044;
    height: auto;
    width: auto;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

/* Beginning of Buttons */

.contactbutton {
    padding: 15px 15px;
    border: none;
    border-radius: 30px;
    text-align: center;
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.contactbutton:hover {
    background-color: green;
}

.copyright {
    margin-right: 20px;
    color: #283044;
    font-size: 14px;
}

.button,
input[type="submit"] {
    /* border: #283044; */
    /* border-color: 1px black; */
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: green;
}

.buttonconfig {
    text-decoration: none;
}

.projectbutton {
    /* border-color: 1px black; */
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* border-radius: 30px; */
    transition-duration: 0.4s;
}

.projectbutton:hover {
    background-color: green;
}

#submit,
.explore-button {
    background-color: #283044;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#submit:hover,
.explore-button:hover {
    background-color: #283044;
    transform: scale(1.1);
}

/* End of Buttons */

li a:hover {
    background-color: #000;
}

.intro {
    color: #78A1BB;
    text-align: center;
    font-size: 50px;
    font-family: Brush Script MT;
}

.hline {
    height: 10px;
    background-color: #78A1BB;
}

.borders {
    border-radius:  1px;
}

.pictures {
    width: 200px;
    /* height: auto; */
}

@media only screen and (max-width: 600px) {
    /* Navigation bar */
    .toplist li {
        display: block;
        text-align: center;
    }
    .toplist li a {
        padding: 10px;
    }

    /* Container */
    .container {
        grid-template-columns: 1fr;
    }

    .right-column {
        order:2;
    }

    /* Featured projects grid */
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Contact CSS */

.contact-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;
}

.contact-section {
    font-family: roboto;
    width: 80%;
    max-width: 500px;
    color: #78A1BB;
    margin-bottom: 10px;
    font-size: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 100%;
    padding: 10px;
    border: 0px solid;
    background-color: #BFA89E;
    color: #333;
    font-size: 20px;
    font-family: roboto;
}


input[type="email"] {
    width: 90%;
    max-width: 100%;
    padding: 10px;
    border: 0px solid;
    background-color: #BFA89E;
    color: #333;
    font-size: 20px;
    font-family: roboto;
}

textarea {
    width: 93%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px solid;
    background-color: #BFA89E;
    color: #333;
    font-size: 20px;
    font-family: roboto;
    overflow-x: hidden;
    resize: none;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder, 
textarea::placeholder {
    color: #999;
}

.placeholder {
    display: none;
}

textarea:focus + .placeholder,
textarea:empty + .placeholder {
    display: inline;
}

.form-group {
    margin-bottom: 20px;
    /* flex-basis: calc(33.33% - 10px); */
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.name-inputs {
    display: flex;
    flex-wrap: wrap;
}

.first-name,
.last-name,
.form-group {
    width: 100%;

.form-group:last-child {
    flex-basis: 100%;
}}

.first-name,
.last-name {
    flex: 1;
    margin-bottom: 10px;
}

.main-content {
    /* background-color: black; */
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
}

@media only screen and (min-width: 600px) {
    .main-content {
        flex-direction: row; /* Change to row layout on larger screens */
        justify-content: space-between; /* Add space between elements */
    }

    .form-section {
        flex: 0 0 50%; /* Set form section to take up 50% of the width */
        margin-right: 20px; /* Add some space between form and paragraph */
    }

    .contact-section {
        flex: 0 0 45%; /* Set paragraph section to take up 45% of the width */
    }
}

.contact-section {
    /* text-align: left; */
    text-align: left;
    margin-left: 5%;
    padding-right: 10px;
}

.form-section {
    flex: 1;
}

/* End Contact CSS */

/* Begin About Me */

.background-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('media/ufo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    flex: 1; /* Make the content flex to fill the remaining space */
    padding: 10%; /* Adjust padding as needed */
    text-align: center;
    font-size: 1.2rem; /* Adjust font size as needed */
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.content p {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 25px;
    width: 150px;
}

.aboutme-video {
    /* background-color: orange; */
    text-align: center;
    padding: 10px 10px ;

}

.aboutme-text {
    /* background-color: blue; */
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.aboutme-text p {
    margin: 0 100px;
    padding: 10px 0;
}

.download-area {
    /* background-color: blue; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.pdf-link {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .content,
    .aboutme-text p {
        padding: 20%; /* Adjust padding for smaller screens */
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}

/* End About Me */
